doctype html
html
	head
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	body
		a(href='/') Home
		br
		a(href='/adduser') Create a user
		h1 Find your user:
		form(action='/searchresult' method='post')
			input#firstname(placeholder='search for a name...' name='autocomplete', autocomplete='off')
			input#goButton(type="submit", value="Give it a try..") 
		p#listIt
		body
			style.
				#listIt{
				position: relative;
				position: absolute;
				background-color: #f9f9f9;
				min-width: 160px;
				overflow: auto;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				color: black;
				padding: 12px 16px;
				text-decoration: none;
				display: none;
				}
				#goButton {
				background-color: #4CAF50;
				border: none;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
				}
				#firstname {
				padding: 15px 32px;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
				}
		script.
			var timer = 0;
			$("#firstname").keyup(function () {
			$('#listIt').css({'display': 'block'})
				var fileData = {
					autocomplete : $("#firstname").val()
					}
				console.log(fileData)
				
				if (Date.now() - timer > 3000) {
					timer = Date.now();
				$.post("/autocomplete", fileData,function(suggestions) {
						$('#listIt').empty();
						for(i = 0; i < suggestions.length; i++) {
						
						$('#listIt').append("<p id=" + i + ">" + suggestions[i] + "</p>" );
		
						}
					});
				}	
			});
